.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.main-text {
    font-weight: bolder;
}

.sub-text {
    font-weight: bold;
}
